/* Base Styles */
html, body {
    background: black;
    font-family: 'Roboto Condensed', sans-serif;
}

/* Logo Style */
.logo {
    font-size: 100px;
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    line-height: 150px;
    color: #ffffff;
}

#nav-logo {
    font-size: 80px;
}

/* Landing Page Styling */
#landing-page {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1)), url("../images/concert_background2.jpg");
    background-blend-mode: color;
    margin: 0;
    padding: 0;
}

.logo-div {
    height: 200px;
}

.search-div {
    display: flex;
    height: 100px;
    align-content: center;
}

.spotify-link-div {
    height: 100px;
}

/* Main Page Styling */
#main-page {
    height: 100vh;
}

/* Start Card Style */
.start-card {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    background: rgba(36, 87, 108, 0.2);
    border: none;
    box-shadow: none;
    font-size: 20px;
}

.logo {
    opacity: 1;
    color: #ffffff;
}

.container-2 {
    opacity: 1;
}

.icon {
    opacity: 1;
}

#search {
    opacity: 1;
}

.card-content {
    margin: auto;
    text-align: center;
}

/* Content Page Styling */
.content-container {
    margin-left: 5px;
}

.artist-div {
    padding-left: 15px;
    padding-right: 15px;
}

/* Animated Search Bar */
.nav-search {
    float: right;
}
.animated-search {
    display: block;
    width: inherit;
    margin: auto;
    margin-top: 15px;
}

.container-2 {
    width: inherit;
    margin: auto;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    text-align: initial;
    align-content: center;
}

.container-2 input#search {
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 16px;
    float: left;
    color: #262626;
    padding-left: 40px;
    padding-right: 10px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    color: #fff;
   
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
    color: #4f5b66;
}
  
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
    color: #4f5b66;
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #4f5b66;
}
  
.container-2 input#search:-ms-input-placeholder {  
    color: #4f5b66;
}

.container-2 .icon {
    position: absolute;
    top: 50%;
    margin-left: 12px;
    margin-top: 13px;
    z-index: 1;
    color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 275px;
    color: #ffffff;
}
   
.container-2:hover input#search {
    width: 275px;
    color: #ffffff;
}
   
.container-2:hover .icon {
    color: #ffffff;
}

.focus-in {
    color: #ffffff;
}

/* Button Styling */
.spotify-link {
    background-color: #1DB855; /* Spotify Green */
    border: none;
    border-radius: 500px;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 37px;
}

.button {
    background-color: #1DB855;
    border: none;
}

/* Navbar Style */
.navbar {
    background: #4f5b66;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    height: 80px;
}

.navbar-brand {
    display: inline-block;
    width: 150px;
    margin: 0px;
}

#nav-logo {
    padding: 0;
    font-size: 40px;
    line-height: 70px;
}

.nav-search {
    margin-right: 0px;
}

/* General Table Styling */
table, th {
    border-bottom: 1px, solid, #4f5b66;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

/* Artist Table */
.table-heading {
    font-size: 28px;
    font-weight: bolder;
    color: white;
}

.artist-name {
    color: rgba(255, 255, 255, .6);
    background-color: 0, 0, 0;
}

.artist-name:hover {
    color: rgba(29, 184, 85, .6);
    cursor: pointer;
}

.selected {
    color: rgba(29, 184, 85, 1);
}

.artist-name-data {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Event Table */
#event-table {
    table-layout: auto;
    width: 500px;
}

.event-div {
    height: calc(100vh - 80px);
}

.event-data {
    color: rgba(255, 255, 255, .6);
}

.event-data:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
}

/* Spotify Player Column */
.spotify-player-div {
    padding-top: 30px;
}